body {
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~INDEX PAGE STYLING~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*Navbar*/
.bar {
    position: fixed;
    width: 100%; 
    z-index: 1;
    text-align: center;
    padding: 20px;
}

#bottom {
  bottom: 0; 
  background-color: #f9df75;
  display: none;
}

#top {
  background-color: gray;
  top: 0;
}

#bottom:hover {
  background-color: #f1c40f;
}

#nav {
  color: black;
}

/*Video Background*/
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg video {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  z-index: -2;
}

/*For Gif explosions*/
#gif, .text{
  z-index: -1;
  /*So works on Safari*/
  -webkit-transform: translate3d(0,0,0);
}

.text {
  color: #f1c40f;
}

/*For Markov Text*/
#markov-text {
  width: 50%;
  margin: 60px auto;
  line-height: 2em;
  font-size: 2em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~PORTFOLIO PAGE STYLING~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1 {
  text-align: center;
  font-weight: 400;
}

#container {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 0 auto;
}

/*Link Styling*/
a {
  transition: color .4s;
  color: #f9df75;
  text-decoration: none;
}

a:link,
a:hover   { color: #f1c40f; }
a:active  {
  transition: color .3s;
  color: #f1c40f;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~MOBILE STYLING~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (max-width: 900px) { 
  #markov-text {
    width: 90%;
    font-size: 1.5em;
    text-justify: full;
    overflow: auto;
  }

  #bg {
    display: none;
  }

  #top {
    display: none;
  }

  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(mov/bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}

